dl.py.class {
    margin-top: 2em;
    /* border-top-width: thin;
    border-top-style: solid; */
}

span.sig-name {
    font-weight: bold;
}

span.sig-name {
    font-weight: bold;
}

em.property {
    font-weight: bold;
}